<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container text-center">
    <h3>Add Product</h3>
    <form action="/admin/add" method="POST" enctype="multipart/form-data">
        <input type="text" class="form-control" name="name" placeholder="Name">
       
        <input type="number" class="form-control" name="price" placeholder="Price">
     
        <textarea name="description" cols="10" rows="5" placeholder="Description" class="form-control"></textarea>
       
        <select name="category" class="form-control">
            <option value="ChooseCategory">Choose a category</option>
            <option value="clothes">Clothes</option>
            <option value="phones">Phones</option>
            <option value="tapets">Tablets</option>
            <option value="laptops">Laptops</option>
        </select>
    
        <input type="file" name="image" value="Choose file" class="form-control">
       
        <br>
        <input type="submit" value="Add Product" class="btn btn-primary">
    </form>
</div>

<%- include('parts/footer')%>