<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
    <% if (items.length === 0) { %>
        <p class="alert alert-danger">
            There is no items 
        </p>
    <% } else { %>
        <form method="POST">
            <input type="submit" value="Delete All" class="btn btn-danger" formaction="/cart/deleteAll" >
        </form>
        <table>
            <thead class="thead-dark">
                <th scope="col"># num</td>
                <th scope="col">Product name</td>
                <th scope="col">Price</td>
                <th scope="col">Amount</td>
                <th scope="col">Total</td>
                <th scope="col"></td>
            </thead>
            <tbody>
                <% for (let i= 0; i < items.length; i++) { %>
                    <tr>
                        <td> <%= i+1 %> </td>
                        <td> <%= items[i].name %> </td>
                        <td> <%= items[i].amount %> </td>
                        <form method="POST">
                            <td> <input type="text" name="amount" class= "form-control" value="<%= items[i].amount %>">
                            </td>
                            <% let amountError = validationErrors.find(err => err.param === 'amount') %>
                            <% if (amountError) { %>
                                <p class="alert alert-danger">
                                    <%= amountError.msg %>
                                </p>
                            <% } %>
                            <td> <%= items[i].price * items[i].amount %> $ </td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="submit" value="Save" class="btn btn-success" formaction="/cart/save" >
                                <input type="submit" value="Delete" class="btn btn-danger" formaction="/cart/delete">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
        </table>
</div>
<% } %>
<%- include('parts/footer')%>