<%- include('parts/header')%>
<%- include('parts/navbar')%>


<div class="container">

    <form action="/" method="GET">
        <select name="category" class="form-control">
            <option value="all">All</option>
            <option value="clothes">Clothes</option>
            <option value="phones">Phones</option>
            <option value="tapets">Tablets</option>
            <option value="laptops">Laptops</option>
        </select>
        <input type="submit" value="Filter" class="btn btn-primary">
    </form>

    <% if (validationErrors) { %>
        <p class="alert alert-danger">
            <%= validationErrors.msg %>
        </p>

    <% } %>

    <% if (products.length === 0) { %>
        <div class="alert alert-danger">
            There is no product !!!
        </div>
        <% } else { %>
            <div class="row">
                <% for(let product of products) { %>
                    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= product.image%>" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">
                                  <a href="/product/<%= product._id%>"> <%= product.name%> </a>
                                  <p>Price: <%= product.price%></p>
                                  <p>Category: <%= product.category%> </p>
                              </h5>
                                <form action="/cart" method="POST">
                                    <input type="number" name="amount" class="form-control">
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <input type="hidden" name="name" value="<%= product.name %>">
                                    <input type="hidden" name="price" value="<%= product.price %>">
                                    <input type="submit" name="redirectTo" value="/">
                                    <input type="submit" value="Add to cart" class="btn btn-primary">
                                </form>
                            </div>
                          </div>
                    </div>
                <% } %>
            </div>
        <% } %>
</div>


<%- include('parts/footer')%>