<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container text-center">
    <h3> Login </h3>
    <form action="/login" method="POST">
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <% let emailError = validationErrors.find(err => err.param === 'email') %>
        <% if (emailError) { %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %>
        <% if (passwordError) { %>
            <p class="alert alert-danger">
                <%= passwordError.msg %>
            </p>
        <% } %>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
    <% if (authError) { %>
        <br>
        <p class="alert alert-danger"> <%= authError %> </p>
    <% } %>
    <div>
        Don't have an acoount ? <a href="/signup">Create Account</a>
    </div>
</div>

<%- include('parts/footer')%>