<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
   <% if (!product) { %>
        <div class="alert alert-danger">
            No product matches id !!!!
        </div>
    <% } else { %>
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="/<%= product.image%>">
                <form action="/cart" method="POST">
                    <input type="number" name="amount" class="form-control">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="submit" value="Add to cart" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <h3> <%= product.name%> </h3>
            <h5>Price : <%= product.price%> $</h5>
            <p> <%= product.description%> </p>
        </div>
    <% } %>
</div>





<%- include('parts/footer')%>