<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container text-center">
    <h3> Create Account </h3>
    <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <% let usernameError = validationErrors.find(err => err.param === 'username') %>
        <% if (usernameError) { %>
            <p class="alert alert-danger">
                <%= usernameError.msg %>
            </p>
        <% } %>
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <% let emailError = validationErrors.find(err => err.param === 'email') %>
        <% if (emailError) { %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %>
        <% if (passwordError) { %>
            <p class="alert alert-danger">
                <%= passwordError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm">
        <% let confirmPasswordError = validationErrors.find(err => err.param === 'confirmPassword') %>
        <% if (confirmPasswordError) { %>
            <p class="alert alert-danger">
                <%= confirmPasswordError.msg %>
            </p>
        <% } %>
        <br>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <% if (authError) { %>
        <p class="alert alert-danger">
            <%= authError%>
        </p>
    <% } %>
    <br>
    <div>
        Already have an acoount ? <a href="/login">Login</a>
    </div>
</div>

<%- include('parts/footer')%>